@page
@model AbeerRestaurant.Pages.Menu.ViewModel

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<!-- Search Form -->
<form method="get">
    <div class="input-group mb-3">
        <input type="text" name="SearchQuery" class="form-control" placeholder="Search menu..." value="@Model.SearchQuery">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FoodItem[0].Item_name)</th>
            <th>@Html.DisplayNameFor(model => model.FoodItem[0].Item_desc)</th>
            <th>@Html.DisplayNameFor(model => model.FoodItem[0].Vegetarian)</th>
            <th>@Html.DisplayNameFor(model => model.FoodItem[0].Price)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodItem)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Item_name)</td>
                <td>@Html.DisplayFor(modelItem => item.Item_desc)</td>
                <td>@(item.Vegetarian == true ? "Yes" : "No")</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
            </tr>
        }
    </tbody>
</table>
